
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>RUMD Loop Command Station</title>


    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){



            //modification of open-source code from here: https://github.com/miguelgrinberg/Flask-SocketIO

            var pointsOfData = [];

            var intervalCounter = 0;
            var intervalId;

            var initializedTypes = [];

            //memory inefficient but doesn't matter as it'll be on a remote server
            var localDataP = [];
            var localData2P = [];
            var localData3P = [];
            var posChart;

            var localDataV = [];
            var localData2V = [];
            var localData3V = [];
            var velChart;

            var localDataA = [];
            var localData2A = [];
            var localData3A = [];
            var accChart;

            var localDataAtt = [];
            var localData2Att = [];
            var localData3Att = [];
            var attChart;







            token_val = sessionStorage.token;

            namespace = '/test'; // change to an empty string to use the global namespace
            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace

            var socketURL = 'http://' + document.domain + ':' + location.port + namespace

            console.log("socketURL = " + socketURL);

            var socket = io.connect(socketURL);

            var pod_id_val = ""




            socket.on('test_recv', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received command: from client with id = ' + msg.client_id + ', data = ' + msg.data).html());
            });

            // event handler for new connections
            socket.on('connect', function() {
                console.log("Connected!");
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            // handlers for the different forms in the page
            // these send data to the server in a variety of ways:

            //this will be used to send free form commands to the pod
            $('form#emit').submit(function(event) {
              if(pod_id_val === null || pod_id_val === undefined || pod_id_val.length < 1){
                alert('Pod ID is null!')
              }
              else{
                socket.emit('cmd_send', {data: $('#emit_data').val(),token : token_val,pod_id:pod_id_val, client_id:sessionStorage.client_id });
              }

              return false;
            });

            //this will be used to connect with a specific pod
            $('form#join').submit(function(event) {
                pod_id_val = $('#join_pod').val();

                $('#log').append('<br>' + $('<div/>').text('Listening to ' + pod_id_val).html());

                // when the client detects this response, it "html-ifies" the data and shows it on the page
                // this will be how telemetry is received and shown
                socket.on('data_receive_' + pod_id_val, function(msg) {

                    /*
                      types
                        1 = xyz position
                        2 = xyz velocity and magnitude
                        3 = xyz acceleration and magnitudde
                        4 = vehicle attitiude
                        5 = internal pressure
                        6 = external pressure
                        7 = internal temp
                        8 = external temp
                        9 = power consumption
                        10 = actuator state
                        11 = WARNING during
                        12 = WARNING after/prior
                      */






                    var type = msg.type;
                    var text = "Received data from pod with id: " + msg.pod_id;

                    console.log("data test = " + msg.data);

                    var dataObj = JSON.parse(msg.data);

                    dataObj.type = type;
                    var d = new Date();
                    var t = d.getTime();
                    dataObj.secs = t;

                    pointsOfData.push(dataObj);

                    if(type == 1){


                        //$('#chartContainer').empty();

                    if($.inArray(1,initializedTypes) < 0){


                        for(var i = 0; i < pointsOfData.length; i++){
                          var obj = pointsOfData[i];
                          if(Number(obj.type) === 1){
                            //TODO: replace x with REAL time

                            localDataP.push({x: obj.secs, y: obj.x});
                            localData2P.push({x: obj.secs, y: obj.y});
                            localData3P.push({x: obj.secs, y: obj.z});
                          }
                        }

                        posChart = new CanvasJS.Chart("chartContainer", {
                          theme: "theme2",
                          title:{
                            text: "XYZ Position"
                          },
                          animationEnabled: true,
                          axisY:{
                            includeZero: false

                          },
                          data: [{
                            type: "line",
                            xValueType: "dateTime",
                            dataPoints: localDataP
                          }, {
                            type: "line",
                            xValueType: "dateTime",
                            dataPoints: localData2P
                          },
                          {
                            type: "line",
                            xValueType: "dateTime",
                            dataPoints: localData3P
                          }
                        ]
                      });

                        posChart.render();


                        initializedTypes.push(1);
                      }
                      else{


                        localDataP.push({x: dataObj.secs, y: dataObj.x});
                        localData2P.push({x: dataObj.secs, y: dataObj.y});
                        localData3P.push({x: dataObj.secs, y: dataObj.z});

                        posChart.render();

                      }

                      text = text + " -> Position = x: " + dataObj.x + " y: " + dataObj.y + " z: " + dataObj.z + " at time: " + msg.timestamp;


                    }
                    else if(type == 2){

                      if($.inArray(2,initializedTypes) < 0){

                      for(var i = 0; i < pointsOfData.length; i++){
                        var obj = pointsOfData[i];
                        if(Number(obj.type) === 2){
                          //TODO: replace x with REAL time

                          localDataV.push({x: obj.secs, y: obj.x});
                          localData2V.push({x: obj.secs, y: obj.y});
                          localData3V.push({x: obj.secs, y: obj.z});
                        }
                      }

                      velChart = new CanvasJS.Chart("chartContainer2", {
                        theme: "theme2",
                        title:{
                          text: "XYZ Velocity"
                        },
                        animationEnabled: true,
                        axisY:{
                          includeZero: false

                        },
                        data: [{
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localDataV
                        }, {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData2V
                        },
                        {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData3V
                        }
                      ]
                    });

                      velChart.render();

                      initializedTypes.push(2);

                    }
                    else{

                      localDataV.push({x: dataObj.secs, y: dataObj.x});
                      localData2V.push({x: dataObj.secs, y: dataObj.y});
                      localData3V.push({x: dataObj.secs, y: dataObj.z});

                      velChart.render();


                    }


                        text = text + " -> Velocity = x: " + dataObj.x + " y: " + dataObj.y + " z: " + dataObj.z + " magnitude: " + dataObj.magnitude + " at time: " + msg.timestamp;



                    }
                    else if(type == 3){

                      if($.inArray(3,initializedTypes) < 0){

                      for(var i = 0; i < pointsOfData.length; i++){
                        var obj = pointsOfData[i];
                        if(Number(obj.type) === 3){
                          //TODO: replace x with REAL time

                          localDataA.push({x: obj.secs, y: obj.x});
                          localData2A.push({x: obj.secs, y: obj.y});
                          localData3A.push({x: obj.secs, y: obj.z});
                        }
                      }

                      var chart = new CanvasJS.Chart("chartContainer3", {
                        theme: "theme2",
                        title:{
                          text: "XYZ Acceleration"
                        },
                        animationEnabled: true,
                        axisY:{
                          includeZero: false

                        },
                        data: [{
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localDataA
                        }, {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData2A
                        },
                        {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData3A
                        }
                      ]
                    });

                      accChart.render();

                      initializedTypes.push(3);

                    }
                    else{

                      localDataA.push({x: databj.secs, y: dataObj.x});
                      localData2A.push({x: dataObj.secs, y: dataObj.y});
                      localData3A.push({x: dataObj.secs, y: dataObj.z});

                      accChart.render();

                    }

                        text = text + " -> Acceleration = x: " + dataObj.x + " y: " + dataObj.y + " z: " + dataObj.z + " magnitude: " + dataObj.magnitude + " at time: " + msg.timestamp;

                    }
                    else if(type == 4){

                      if($.inArray(4,initializedTypes) < 0){

                        for(var i = 0; i < pointsOfData.length; i++){
                        var obj = pointsOfData[i];
                        if(Number(obj.type) === 4){
                          //TODO: replace x with REAL time

                          localDataAtt.push({x: obj.secs, y: obj.roll});
                          localData2Att.push({x: obj.secs, y: obj.pitch});
                          localData3Att.push({x: obj.secs, y: obj.yaw});
                        }
                      }

                      var chart = new CanvasJS.Chart("chartContainer4", {
                        theme: "theme2",
                        title:{
                          text: "Roll Pitch and Yaw"
                        },
                        animationEnabled: true,
                        axisY:{
                          includeZero: false

                        },
                        data: [{
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localDataAtt
                        }, {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData2Att
                        },
                        {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData3Att
                        }
                      ]
                    });

                      attChart.render();

                    }
                    else{

                      localDataAtt.push({x: databj.secs, y: dataObj.roll});
                      localData2Att.push({x: dataObj.secs, y: dataObj.pitch});
                      localData3Att.push({x: dataObj.secs, y: dataObj.yaw});

                      attChart.render();

                    }

                        text = text + " -> Attitude = roll: " + dataObj.roll + " pitch: " + dataObj.pitch + " yaw: " + dataObj.yaw +  " at time: " + msg.timestamp;

                    }
                    else if(type == 5){



                        text = text + " -> Internal Pressure for ";
                        var units = dataObj.units;

                        for(var i = 0; i < units.length; i++){

                          var unit = units[i];
                          text = text + unit.name + " = " + unit.value + ", ";

                        }

                        text = text + " at time: " + msg.timestamp;

                    }
                    else if(type == 6){

                      $('#chartContainer6').empty();


                      var localData = [];
                      var localData2 = [];

                      for(var i = 0; i < pointsOfData.length; i++){
                        var obj = pointsOfData[i];
                        if(Number(obj.type) === 6){
                          //TODO: replace x with REAL time

                          localData.push({x: obj.secs, y: obj.front});
                          localData2.push({x: obj.secs, y: obj.rear});

                        }
                      }

                      var chart = new CanvasJS.Chart("chartContainer6", {
                        theme: "theme2",
                        title:{
                          text: "External Pressure: Front and Rear"
                        },
                        animationEnabled: true,
                        axisY:{
                          includeZero: false

                        },
                        data: [{
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData
                        }, {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData2
                        }
                      ]
                    });

                      chart.render();

                      text = text + " -> External Pressure = front: " + dataObj.front + " rear: " + dataObj.rear + " at time: " + msg.timestamp;

                    }
                    else if(type == 7){

                      $('#chartContainer7').empty();


                      var localData = [];
                      var localData2 = [];
                      var localData3 = [];
                      for(var i = 0; i < pointsOfData.length; i++){
                        var obj = pointsOfData[i];
                        if(Number(obj.type) === 7){
                          //TODO: replace x with REAL time

                          localData.push({x: obj.secs, y: obj.ambient});
                          localData2.push({x: obj.secs, y: obj.battery});
                          localData3.push({x: obj.secs, y: obj.computer});
                        }
                      }

                      var chart = new CanvasJS.Chart("chartContainer7", {
                        theme: "theme2",
                        title:{
                          text: "Internal Temperature: ambient, battery, computer"
                        },
                        animationEnabled: true,
                        axisY:{
                          includeZero: false

                        },
                        data: [{
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData
                        }, {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData2
                        },
                        {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData3
                        }
                      ]
                    });

                      chart.render();

                      text = text + " -> Internal Temperature = ambient: " + dataObj.ambient + " battery: " + dataObj.battery + " computer: " + dataObj.computer + " at time: " + msg.timestamp;

                    }
                    else if(type == 8){

                      $('#chartContainer8').empty();


                      var localData = [];
                      var localData2 = [];
                      var localData3 = [];
                      for(var i = 0; i < pointsOfData.length; i++){
                        var obj = pointsOfData[i];
                        if(Number(obj.type) === 8){
                          //TODO: replace x with REAL time

                          localData.push({x: obj.secs, y: obj.front});
                          localData2.push({x: obj.secs, y: obj.rear});
                          localData3.push({x: obj.secs, y: obj.bottom});
                        }
                      }

                      var chart = new CanvasJS.Chart("chartContainer8", {
                        theme: "theme2",
                        title:{
                          text: "External Temperature: front, rear, bottom"
                        },
                        animationEnabled: true,
                        axisY:{
                          includeZero: false

                        },
                        data: [{
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData
                        }, {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData2
                        },
                        {
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData3
                        }
                      ]
                    });

                      chart.render();

                      text = text + " -> External Temperature = front: " + dataObj.front + " rear: " + dataObj.rear + " bottom: " + dataObj.bottom + " at time: " + msg.timestamp;

                    }
                    else if(type == 9){

                      $('#chartContainer9').empty();


                      var localData = [];

                      for(var i = 0; i < pointsOfData.length; i++){
                        var obj = pointsOfData[i];
                        if(Number(obj.type) === 9){
                          //TODO: replace x with REAL time

                          localData.push({x: obj.secs, y: obj.consumption});

                        }
                      }

                      var chart = new CanvasJS.Chart("chartContainer9", {
                        theme: "theme2",
                        title:{
                          text: "Power Consumption"
                        },
                        animationEnabled: true,
                        axisY:{
                          includeZero: false

                        },
                        data: [{
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData
                        }
                      ]
                    });

                      chart.render();



                      text = text + " -> Power Consumption = " + dataObj.consumption + " at time: " + msg.timestamp;

                    }
                    else if(type == 10){

                      $('#chartContainer10').empty();


                      var localData = [];

                      for(var i = 0; i < pointsOfData.length; i++){
                        var obj = pointsOfData[i];
                        if(Number(obj.type) === 10){
                          //TODO: replace x with REAL time

                          localData.push({x: obj.secs, y: obj.state});

                        }
                      }

                      var chart = new CanvasJS.Chart("chartContainer10", {
                        theme: "theme2",
                        title:{
                          text: "Actuator State"
                        },
                        animationEnabled: true,
                        axisY:{
                          includeZero: false

                        },
                        data: [{
                          type: "line",
                          xValueType: "dateTime",
                          dataPoints: localData
                        }
                      ]
                    });

                      chart.render();

                      text = text + " Actuator State = " + dataObj.state + " at time: " + msg.timestamp;

                    }

                    else if(type == 11){

                      text = text + "RUNTIME WARNING = " + dataObj.warning + " at time: " + msg.timestamp;

                    }

                    else if(type == 12){

                      text = text + dataObj.stage + " WARNING = " + dataObj.warning + " at time: " + msg.timestamp;

                    }
                    else{

                      text = 'Received data: from pod with id = ' + msg.pod_id + ', data = ' + msg.data;

                    }

                    $('#log').append('<br><br>' + $('<div/>').text(text).html() );
                });

                return false;
            });

            //this will be used for POD STOP command
            $('form#pod_stop').submit(function(event) {
                if(pod_id_val === null || pod_id_val === undefined || pod_id_val.length < 1){
                  alert('Pod ID is null!')
                }
                else{
                  socket.emit('cmd_send', {data : 'pod_stop_cmd', token : token_val, pod_id : pod_id_val, client_id : sessionStorage.client_id});
                }

                return false;
            });

            //this will be used to disconnect from the pod it is connected to
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect request');
                return false;
            });


            //used to simulate pod data
            $('form#pod').submit(function(event) {
              socket.emit('data_send',{'data' : $('#pod_data').val(), 'pod_id' : sessionStorage.pod_id, 'token' : sessionStorage.pod_token, 'type' : parseInt($('#data_type').val()), 'timestamp': (new Date()).toString()});
              return false;
            });


            $('form#pod_create').submit(function(event) {

              man_code_val = $('#man_code').val();




              $.post("http://localhost:5000/createPod",{

                man_code : man_code_val,


              }, function(data,status){

                  if(data['status'] === 'ok'){

                    sessionStorage.pod_id = data['pod_id'];

                    $('#log').append('<br>' + $('<div/>').text("Pod successfully created! Now authenticate! Pod ID is " + sessionStorage.pod_id).html());



                  }
                  else{

                    alert(data['reason']);

                  }



              });

              return false;
            });

            $('form#pod_auth').submit(function(event) {






              $.post("http://localhost:5000/auth",{

                is_pod : true,
                pod_id : sessionStorage.pod_id


              }, function(data,status){

                  if(data['status'] === 'ok'){

                    sessionStorage.pod_token = data['secret_token'];

                    $('#log').append('<br>' + $('<div/>').text("Authentication Successful!").html());


                  }
                  else{

                    alert(data['reason']);

                  }



              });

              return false;
            });

          $('form#pod_sim').submit(function(event){

                intervalId = setInterval(function(){

                  var data = {
                    x : (Math.floor(Math.random() * (11)) + 10),
                    y : (Math.floor(Math.random() * (11)) + 10),
                    z : (Math.floor(Math.random() * (11)) + 10)
                  };

                  socket.emit('data_send',{'data' : JSON.stringify(data), 'pod_id' : sessionStorage.pod_id, 'token' : sessionStorage.pod_token, 'type' : 1, 'timestamp': (new Date()).toString()});

                  intervalCounter = intervalCounter + 1;

                  if(intervalCounter === 60){
                    clearInterval(intervalId);
                  }

                },1000);

                return false;

          });



        });
    </script>
</head>
<body>



    <h1>RUMD Loop Command Station</h1>
    <h2>Send:</h2>

    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Send Command">
    </form>
    <form id="join" method="POST" action='#'>
        <input type="text" name="join_pod" id="join_pod" placeholder="Pod ID">
        <input type="submit" value="Connect to Pod">
    </form>
    <form id="pod_stop" method="POST" action="#">
      <input type="submit" value="Pod Stop">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>Pod Simulation</h2>
    <form id="pod_create" method="POST" action="#">
      <input type="text" name="man_code" id="man_code" placeholder="Manafacture Code">
      <input type="submit" value="Create Pod">
    </form>
    <form id="pod_auth" method="POST" action="#">
      <input type="submit" value="Authenticate Pod">
    </form>
    <form id="pod" method="POST" action="#">
      <input type="text" name="pod_data" id="pod_data" placeholder="Pod Data">
      <br>
      <input type="text" name="data_type" id="data_type" placeholder="Data Type ID (1-12)">
      <br>
      <input type="submit" value="Send Pod Data">
    </form>
    <form id="pod_sim" method="POST" action="#">
      <input type="submit" value="Start Simulation">
    </form>
    <h2>Telemetry</h2>
    <div id="container" style="overflow:hidden;width:2000px">
      <div id="chartContainer" style="float:left;height: 300px; width: 50%;">
      </div>
      <div id="chartContainer2" style="float:left;height: 300px; width: 50%;">
      </div>
    </div>
    <div id="container2" style="overflow:hidden;width:2000px">
      <div id="chartContainer3" style="float:left;height: 300px; width: 50%;">
      </div>
      <div id="chartContainer4" style="float:left;height: 300px; width: 50%;">
      </div>
    </div>
    <div id="container3" style="overflow:hidden;width:2000px">
      <div id="chartContainer5" style="float:left;height: 300px; width: 50%;">
      </div>
      <div id="chartContainer6" style="float:left;height: 300px; width: 50%;">
      </div>
    </div>
    <div id="container4" style="overflow:hidden;width:2000px">
      <div id="chartContainer7" style="float:left;height: 300px; width: 50%;">
      </div>
      <div id="chartContainer8" style="float:left;height: 300px; width: 50%;">
      </div>
    </div>
    <div id="container5" style="overflow:hidden;width:2000px">
      <div id="chartContainer9" style="float:left;height: 300px; width: 50%;">
      </div>
      <div id="chartContainer10" style="float:left;height: 300px; width: 50%;">
      </div>
    </div>
    <div id="log"></div>


    </body>

</html>
